<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "AppSanta/padre.html"%}
    {load static %}
    {% block contenidoquecambia %}
    <h1>Borrar Producto</h1>

    <form action=""method= "POST">
        {% csrf_token %}
        Seguro que deseas borrar el Producto {{producto.nombre}} - cantidad {{producto.cantidad}}?
        <input type ="submit" value="Eliminar">
    </form>
    {% endblock contenidoquecambia %}
</body>
</html>